*.bin !text !filter !merge !diff
*.hdr !text !filter !merge !diff
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
v3d.js !text !filter !merge !diff
